<h1>All Exhibits</h1>

<% @exhibits.each do |exhibit| %>
    <h3><%= exhibit.name %></h3> 
    <p>Created at: <%= exhibit.created_at %></p>
     <p><%= link_to "Update", "/exhibits/#{exhibit.id}/edit" %></p>
     <br>
     <p><%= link_to "Delete", "/exhibits/#{exhibit.id}", method: :delete %></p>
  <br>
<% end %>
<br>
<%= link_to "New Exhibit", "/exhibits/new" %>
