<h1>All Exhibits</h1>
<%= link_to "New Exhibit", "/exhibits/new" %>
<br>
<br>
<% @exhibits.each do |exhibit| %>
    <h2><%= exhibit.name %></h2> 
    <p>Created at: <%= exhibit.created_at %></p>
     <p><%= link_to "Update", "/exhibits/#{exhibit.id}/edit" %></p>
     <p><%= link_to "Delete", "/exhibits/#{exhibit.id}", method: :delete %></p>
  <br>
<% end %>

