<h1>Create New Exhibit Form </h1>
<br>
<%= form_with url: '/exhibits', method: :post, local: true do |form| %>
  <br>
  <br>
  <%= form.label :name, "Exhibit Name" %>
  <%= form.text_field :name %>
  <br>
  <br>
  <%= form.label :on_display, "Exhibit Currently on Display:" %>
  <%= form.radio_button :on_display, 'true' %>
  <%= form.label :on_display_true, "True" %>
  <%= form.radio_button :on_display, 'false' %>
  <%= form.label :on_display_false, "False" %>
  <br>
  <br>
  <%= form.label :price, "Price in USD" %>
  <%= form.number_field :price, step: 0.01 %>
  <br>
  <br>
  <%= form.submit "Create Exhibit" %>
 <% end %>