<h1><%= @exhibit.name %></h1>

<p>Start Date: <%= @exhibit.start_date %></p>
<p>End Date: <%= @exhibit.end_date %></p>
<p>Currently on display? <%= @exhibit.on_display %></p>
<p>Price: <%= @exhibit.price %></p>
<p>Number of Artifacts: <%= @exhibit.artifacts.count %></p>

