<h1>Artifacts in <%= @exhibit.name %> Exhibit</h1>
<p><%= link_to "Sort Alphabetically", :sort => "alphab" %></p>
<%= link_to "New Artifact", "/exhibits/#{@exhibit.id}/artifacts/new" %>
<br>
<p><strong>Filter by Number of Total Pieces: </strong></p>
<%= form_with url: "/exhibits/#{@exhibit.id}/artifacts", method: :get, local: true do |form| %>
  <%= form.label :total_pieces, "Total Pieces" %>
  <%= form.number_field :total_pieces %>
  <br>
  <br>
  <%= form.submit "Filter" %>
 <% end %>
 <br>
 <br>
<% @artifacts.each do |artifact| %>
  <h2><%= artifact.name %></h2>
  <p>Material: <%= artifact.material %></p>
  <p>Date Created: <%= artifact.year_created %></p>
  <p>Total Pieces: <%= artifact.total_pieces %></p>
  <p>On Loan from Another Museum: <%= artifact.on_loan %></p>
  <p><%= link_to "Update", "/artifacts/#{artifact.id}/edit" %></p>
  <p><%= link_to "Delete", "/artifacts/#{artifact.id}", method: :delete %></p>
  <br>
<% end %>