<h1>All Artifacts</h1>
<p><%= link_to "Only View Artifact from Other Museums", :sort => "on_loan_true" %></p>

<% @artifacts.each do |artifact| %>
  <h3><%= artifact.name %></h3> 
  <p>Material: <%= artifact.material %></p>
  <p>Date Created: <%= artifact.year_created %></p>
  <p>Total Pieces: <%= artifact.total_pieces %></p>
  <p>On Loan from Another Museum: <%= artifact.on_loan %></p>
  <p><%= link_to "Update", "/artifacts/#{artifact.id}/edit" %></p>
  <br>
  <p><%= link_to "Delete", "/artifacts/#{artifact.id}", method: :delete %></p>
<% end %>