<h1>All Artifacts</h1>

<% @artifacts.each do |artifact| %>
  <h3><%= artifact.name %></h3> 
  <p>Material: <%= artifact.material %></p>
  <p>Date Created: <%= artifact.year_created %></p>
  <p>Total pieces: <%= artifact.total_pieces %></p>
  <p>On Loan from Another Museum: <%= artifact.on_loan %></p>
  <p><%= link_to "Update Artifact: #{artifact.name}", "/artifacts/#{artifact.id}/edit" %></p>
  <br>
<% end %>