<h1><%= @artifact.name %></h1>
<p>Material: <%= @artifact.material %></p>
<p>Date Created: <%= @artifact.year_created %></p>
<p>Total pieces: <%= @artifact.total_pieces %></p>
<p>On loan from another museum? <%= @artifact.on_loan %></p>
