<!DOCTYPE html>
<html>
  <head>
    <title>RelationalRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <a href="http://localhost:3000/exhibits">All Exhibits</a><br>
  <a href="http://localhost:3000/artifacts">All Artifacts</a>
    <%= yield %>
  </body>
</html>
